{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block stylesheets %}
<link href="/styleG.css" rel="stylesheet"> 
{% endblock %}

{% block body %}
    <header>
        <div>
            <div>
                <a href='{{ url('app_resto') }}'><img src="/images/logo.png" alt="logo"></img></a>
            </div>
            <h1> Dead Cow Dinner </h1>
        </div>

        <nav>
            <ul>
                <li>
                    <a class="Nav_Page_i" href='{{ url('app_resto') }}'>Notre Restaurant</a>
                </li>
                <li>
                    <a class="Nav_Page_i" href='{{ url('app_carte_index') }}'>Notre Carte</a>
                </li>
                <li>
                    <a class="Nav_Page_i" href='{{ url('app_resa_page') }}'>Réserver une table</a>
                </li>
                <li>
                    <a class="Nav_Page_i" href='{{ url('app_carte_index') }}'>Commander chez Uber Eat</a>
                </li>
            </ul>
        </nav>

    </header>
    <main>
        <h2> - Administration - </h2>
        <div class="logadmin">
            <div class="logimg">
                <form name="form" id="formLogin" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <label class="labeltxt" for="inputUsername">Login</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" required/>
                    <label class="labeltxt" for="inputPassword">Mot De Passe</label>
                    <input autocomplete="off" type="password" name="password" placeholder="Mot de passe" id="inputPassword" required/>
                    <input type="hidden" name="_csrf_token"value="{{ csrf_token('authenticate') }}" />
                    <input type="submit" name="valider" id="btn_auth" value="S'authentifier" />
                </form>    
            </div>
        </div>
    </main>
 {# action='{{ url('app_admin') }}' #}
{# ______________________________________________________________ #}

{# <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <label for="inputUsername">Username</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    {# <button class="btn btn-lg btn-primary" type="submit">
        Sign in
    </button>
</form> #} 
{% endblock %}
