{% extends 'base.html.twig' %}

{% block title %}Edit InfoResto{% endblock %}

{% block stylesheets %}
<link href="/styleA.css" rel="stylesheet"> 
{% endblock %}

{% block body %}

<header>
    <div class="en_tete">
        <div class="logobox">
            <a href='{{ url('app_carte_index') }}'><img src="/images/logo.png" alt="logo"></img></a>
        </div>
        <div class="titre">
            <h1> Dead Cow Dinner </h1>
            <h2> Gestion Reservation </h2>
        </div>
        <a id="BtnDeco" href="{{ path('app_logout') }}">Deconexion</a>
    </div>
</header>

<main>
    <div class="editInfos">
        <h3>Modifier Infos</h3>

        {{ include('info_resto/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="BtnRetour" href="{{ path('app_carte_index') }}"> &#10534; Retour </a>
    </div>
</main>

   
{% endblock %}
