:root {
  /* COULEUR         
    Utilisation:
    h1 {...color: var(--noir1); par exemple
    */

  /* Couleur 1 principale */
  --noir1: #212226;
  --vert1_fonce: #40735b;
  --marron1: #73493f;

  /* Couleur 2 secondaire */
  --vert2_moyen: #85a676;
  --vert2_pale: #b5d991;

  /* Couleur 3 d accent */
  --marron3_clair: #bf5545;

  /* POLICE              
    1) TITRE: Praise regular 400 (google font)
    font-family: 'Praise', cursive;    
  
    2) TEXTE: Cinzel Regular 400 (google font)
    font-family: 'Cinzel', serif;
    */
}

body {
  height: 100vh;
  user-select: none;
  background: url(https://images.pexels.com/photos/942872/pexels-photo-942872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
    center/cover no-repeat;
}

/* _________________________________HEADER______________________________________________ */

header {
  margin: 30px;
}

.en_tete {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.logobox {
  /* Div logo */
  flex: 1;
  text-align: center;
}

img {
  /* logo */
  width: 80px;
}

.titre {
  flex: 3;
  text-align: center;
  height: 100px;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid #212226;
  border-radius: 20px 0px 0px 20px;
}

#BtnDeco {
  flex: 1;
  padding: 39px 10px;
  text-decoration: none;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(0, 0, 0);
  font-size: 1.4rem;
  background: var(--noir1);
  color: var(--vert2_pale);
  border-radius: 0px 20px 20px 0px;
}

#BtnDeco:hover {
  background-color: rgb(49, 49, 49);
  
}

h1 {
  font-family: "Praise", cursive;
  font-size: 3rem;
  letter-spacing: 4px;
  color: var(--marron3_clair);
  text-shadow: 3px 3px 0px black;
  margin: 0;
}

h2 {
  font-family: "Cinzel", cursive;
  font-size: 2rem;
  letter-spacing: 3px;
  color: var(--noir1);
  margin: 0;
}

h3 {
  font-family: "Cinzel", cursive;
  font-size: 1rem;
  color: var(--noir1);
  margin: 0;
}

h4 {
  margin: 10px;
}

p {
  margin: 0;
}

a {
  color: var(--noir1);
}

/* ____________________________________________MAIN______________________________________ */

main {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-around;
 
}

main h2 {
  text-align: center;
  font-family: "Cinzel", serif;
  font-size: 1.3rem;
  color: white;
  background: #000000bb;
  padding: 10px;
}
/* __________________________________Gestion Reservation_________________________________ */

.resa_center {
  width: 50%;
}

.resabox {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid var(--noir1);
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.7);
  margin: 5px 0px;
}

.show {
  height: 100%;
  width: 30%;
}

.crudResaShow {

  padding: 10px;
  background: rgba(255, 255, 255, 0.7);
  border: 2px solid var(--noir1);
  border-radius: 5px;
}

/* __________________________________Gestion Produit____________________________________ */

.leftBox {
  width: 500px;
  height: 500px;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid var(--noir1);
  border-radius: 5px;
  padding: 5px;
  overflow: auto;
}

.boxcarte{
  margin: 10px 0px;
  border: 1px solid black ;
  background-color: rgb(211, 211, 211);
}

.burger{
  display: flex;
  align-items: center;
  height: 70px;
}

.imgcarte{
  width: 50px;
  height: 50px;
  margin: 3px;
  border: 1px solid black ;
  background-color: white;
}

.imgcarte img {
  width: 100%;
  height: 100%;
}

.txtcarte{
  margin-left: 10px;
}

.editBTN{
  display: flex;
  justify-content: flex-end;
  margin: 3px;
}

.crudCarte {
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid var(--noir1);
  border-radius: 5px;
  padding: 10px;
}

.rightBox {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.EnAttente {
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid var(--noir1);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

/* __________________________________INFO Resto____________________________________ */

.editInfos {
  width: 350px;
  margin: auto;
  background: rgba(255, 255, 255, 0.7);
  border: 3px solid var(--noir1);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

/* -------------FORM CRUD---------- */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#carte div {
  display: flex;
  justify-content: end;
  width: 300px;
  margin: 5px;

}

#liste_resa div {
  margin: 5px 0;
}

input {
  padding: 3px;
}

select {
  width: 50%;
  padding: 3px;
}

textarea {
  width: 90%;
  height: 50px;
  padding: 3px;
  
  align-items: center;
}

label {
  margin-right: 10px;
}

.btn {

  width: 100px;
  height: 50px;
}
/* ------------------------------------- */

.BtnResa {
  flex: 1;
  padding: 10px;
  margin: 10px 0px;
  text-decoration: none;
  text-align: center;
  font-size: 1.4rem;
  background: var(--noir1);
  color: var(--vert2_pale);
  border-radius: 20px;
}

.BtnResa:hover {
  background-color: rgb(49, 49, 49);
  
}

.BtnRetour {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  padding: 10px;
  text-decoration: none;
  font-size: 1.4rem;
  background: var(--noir1);
  color: var(--vert2_pale);
  border-radius: 20px;
}

.BtnRetour:hover {
  background-color: rgb(49, 49, 49);
  
}