:root {
    /* COULEUR         
    Utilisation:
    h1 {...color: var(--noir1); par exemple
    */
  
    /* Couleur 1 principale */
    --noir1: #212226;
    --vert1_fonce: #40735b;
    --marron1: #73493f;
  
    /* Couleur 2 secondaire */
    --vert2_moyen: #85a676;
    --vert2_pale: #b5d991;
  
    /* Couleur 3 d accent */
    --marron3_clair: #bf5545;
  
    /* POLICE              
    1) TITRE: Praise regular 400 (google font)
    font-family: 'Praise', cursive;    
  
    2) TEXTE: Cinzel Regular 400 (google font)
    font-family: 'Cinzel', serif;
    */
  }
  
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    user-select: none;
    background: url(https://images.pexels.com/photos/269063/pexels-photo-269063.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940)
      center/cover no-repeat;
  }
  
  /* _________________________________HEADER______________________________________________ */
  
  header {
    background: center/cover url(./images/banniere.png) no-repeat;
    box-shadow: 3px 3px 3px 1px #000000;
    border-radius: 10px;
    margin: 20px;
  }
  
  header div {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
  }
  
  header div div {
    /* Div logo */
    flex: 1;
  }
  
  header div div img {
    /* logo */
    width: 80px;
  }
  
  header div h1 {
    flex: 4;
  
    text-align: center;
    font-family: "Praise", cursive;
    font-size: 5rem;
    letter-spacing: 5px;
    color: var(--marron3_clair);
    text-shadow: 3px 3px 1px black;
    margin: 40px 0px;
  }
  
  header nav {
    width: 100%;
  }
  
  header nav ul {
    list-style-type: none;
    padding: 0px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: space-around;
    border-radius: 0 0 10px 10px;
  }
  
  header nav ul li {
    display: flex;
    cursor: pointer;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.281);
    box-shadow: 3px 3px 5px black;
    border: 1px solid var(--noir1);
    border-radius: 5px;
    width: 200px;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.2s;
  }
  
  header nav ul li:hover {
    transform: translateX(2px) translateY(2px);
  }
  
  .Nav_Page_i {
    padding: 3px;
    text-decoration: none; /* Liens non soulignés */
    color: var(--noir1);
    
    font-size: 1.7rem;
    font-family: "Praise", cursive;
  }
  
  @media screen and (max-width: 550px) {
    header nav ul li {
      width: 250px;
    }
  
    .Nav_Page_i {
      padding: 10px;
    }
  
    header div h1 {
      font-size: 3rem;
    }
  }
  
  /* _________________________________MAIN______________________________________________ */
  
  main {
    margin-bottom: 100px;
  }
  
  h2 {
    font-family: "Cinzel", cursive;
    letter-spacing: 5px;
    font-size: 3rem;
    text-align: center;
    color: var(--noir1);
    text-shadow: 2px 2px 0px var(--marron3_clair);
    width: 100%;
    background: rgba(182, 182, 182, 0.521);
  }
  
  h3 {
    margin: 10px 10px;
    font-family: "Cinzel", serif;
    font-size: 1.5rem;
    color: var(--noir1);
    text-shadow: 1px 1px 0 var(--marron3_clair);
  }
  
  h4 {
    font-family: "Cinzel", serif;
    font-size: 1rem;
    color: var(--vert2_pale);
    margin: 0 10px 0 30px
  }
  
  .prix {
    text-align: right;
    padding-right: 20px;
  }
  
  hr {
    margin: 0 auto;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 3px;
    background: var(--noir1);
  }
  
  .boxcarte {
    margin: 0% 20%;
  }
  
  .burger {
    display: flex;
    margin-top: 20px;
    background: var(--marron1);
    border-radius: 5px;
    box-shadow: 3px 3px 3px 1px #000000;
  }
  
  img {
    width: 100%;
    align-self: center;
    border-radius: 5px;
  }
  
  .imgcarte {
    width: 150px;
    height: 150px;
    display: flex;
    margin: 10px;
  }
  
  .txtcarte {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-self: center;
  }

  a {
    color: rgb(221, 221, 221);
    font-size: 1.2rem;
    margin: 5px;
  }
  
  /* --------------PageRestaurant */
  .slider {
    border: 3px solid red;
    width: 90vw;
    height: 40vh;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    position: relative;
  }
  .slides {
    border: 3px solid rgb(255, 136, 0);
    background-color: #ffffff88;
    flex: 1;

  }
  .box-horaire {
    border-radius: 20px 20px 0 0;
    background-color: #202020;
    position: absolute;
    right: 100px;
    bottom: 0;
    width: 30%;
    height: 20%;
  }
  .box-horaire p {
    color: antiquewhite;
    text-align: center;
    font-size: 1.2rem;
    font-family: "Cinzel", cursive;
  }
  .description1 {
    background-color: #202020;
    width: 90vw;
    margin: auto;
    padding: 3px;
  }
  .description1 p {
    color: antiquewhite;
    font-size: 1rem;
    text-align: center;
    font-family: "Cinzel", cursive;
    
  }

  .bigbox {
    width: 90vw;
    height: 400px;
    margin: 50px auto;
    display: flex;
  }
  .partL {
    border: 3px solid rgb(255, 255, 255);
  }
  .partR {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    backdrop-filter: blur(20px);
   
  }
  .description2 {
    background-color: #202020;
    width: 90%;
  }
  .description2 p {
    color: antiquewhite;
    font-size: 1rem;
    text-align: center;
    font-family: "Cinzel", cursive;
  }
  .box-LR {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
  }
  .box-adresse {
    background-color: #ffffff88;
    border-radius: 10px;
  }
  .adresse {
    color: #000000;
    font-size: 1.2rem;
    padding: 5px 10px;
    margin: 3px;
  }
  #btnStory {
    display: flex;
    background-color: #202020;
    border-radius: 10px;
    padding: 10px;
  }
  #btnStory a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Praise", cursive;
    color: white;
    font-size: 1.6rem;
    letter-spacing: 2px;
    text-decoration: none;
    transition: 0.2s;
  }
  #btnStory:hover {
    background-color: rgb(49, 49, 49);
    
  }
  #btnStory:hover > a{
    transform: translateX(10px);
    
  }
  /* ------------------------- */


  @media screen and (max-width: 550px) {
    h3 {
      font-size: 1.2rem;
    }
  
    h4 {
      font-size: 0.95rem;
      margin: 0 5px;
    }
  
    .boxcarte {
      margin: 10px 10px;
    }
  
    .imgcarte {
      margin: 5px;
    }
  }
  /* _____________________________________ ALL FORM_______________________________ */
  
  form input,
  select,
  textarea {
    font-family: "Arial", serif;
    font-size: 1.3rem;
    color: black;
    background: white;
    border-radius: 10px;
    /* text-align: right; */
    padding: 10px;
  }
  
  /* _________________________________FORM LOGIN ADMIN____________________________ */
  
  .logadmin {
    margin: auto;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  
  .logimg {
    display: flex;
    margin: auto;
    background: url(./images/photoR.jpg) center/cover no-repeat;
    box-shadow: 3px 3px 5px black;
    border-radius: 10px;
  }
  
  #formLogin {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    margin: 60px;
    background: rgba(182, 182, 182, 0.521);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  
  #formLogin label {
    font-family: "Cinzel", serif;
    font-size: 1.6rem;
    color: black;
  }
  
  #btn_auth {
    margin-top: 10px;
    font-family: "Cinzel", cursive;
    font-size: 1.2rem;
    padding: 3px;
    cursor: pointer;
  }
  
  /* _________________________________FORM RESERVATION____________________________ */
  
  .resaForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    background-color: #ffffff3f;
    padding: 10px;
  }

  #liste_resa div {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #liste_resa input {
    height: 36px;
    border-radius: 0 10px 10px 0;
    box-shadow: 3px 3px 5px black;
  }
  
  .required {
    height: 60px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    font-family: "Cinzel", cursive;
    font-size: 1.3rem;
    color: whitesmoke;
    background-color:  #202020;;
    border-radius: 10px 0 0 10px;
    box-shadow: 3px 3px 5px black;
  }
  
  #imgResa {
    height: 300px;
    width: 400px;
    margin-left: 50px;
  }
  
  #imgResa img {
    width: 100%;
    border-radius: 100px;
    box-shadow: 3px 3px 5px black
  }

  .btn {
    padding: 10px;
    color: whitesmoke;
    background-color:  #202020;
    border-radius: 10px;
    font-family: "Cinzel", cursive;
    font-size: 1.3rem;
    cursor: pointer;
   
  }

  .btn:hover {
    background-color: rgb(49, 49, 49);
  }