:root {
  /* COULEUR         
  Utilisation:
  h1 {...color: var(--noir1); par exemple
  */

  /* Couleur 1 principale */
  --noir1: #212226;
  --vert1_fonce: #40735b;
  --marron1: #73493f;

  /* Couleur 2 secondaire */
  --vert2_moyen: #85a676;
  --vert2_pale: #b5d991;

  /* Couleur 3 d accent */
  --marron3_clair: #bf5545;

  /* POLICE              
  1) TITRE: Praise regular 400 (google font)
  font-family: 'Praise', cursive;    

  2) TEXTE: Cinzel Regular 400 (google font)
  font-family: 'Cinzel', serif;
  */
}

body {
  background: url(https://images.pexels.com/photos/4809158/pexels-photo-4809158.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260)
    center/cover;
}

.story {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--noir1);
  margin: 10px 10px 0px 10px;
  background: rgba(182, 182, 182, 0.521);
  border-radius: 5px;
}

.right {
  flex-direction: row-reverse;
}

img {
  width: 100%;
}

.imgstory {
  display: flex;
  flex: 1;
}

button {
  padding: 5px;
  margin-top: 20px;
  margin-left: 20px;
  background: var(--noir1);
  color: var(--vert2_pale);
  border-radius: 5px;
}

button:hover {
  background: var(--marron3_clair);
}

h1 {
  text-align: center;
  color: var(--marron3_clair);
  font-family: "Praise", cursive;
  letter-spacing: 3px;
  font-size: 3rem;
  text-shadow: 3px 3px 0 var(--noir1);
}

p {
  flex: 3;
  padding: 10px 20px;
  color: var(--noir1);
  font-family: "Cinzel", serif;
  text-shadow: 1px 1px 0 var(--marron3_clair);
}

/* background: rgb(115, 73, 63);
  background: linear-gradient(
    135deg,
    rgba(115, 73, 63, 1) 0%,
    rgba(191, 85, 69, 1) 40%,
    rgba(181, 217, 145, 1) 75%
  ); */

  .BtnRetour {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-top: 30px;
    padding: 10px;
    text-decoration: none;
    font-size: 1.4rem;
    background: var(--noir1);
    color: var(--vert2_pale);
    border-radius: 20px;
  }

  .BtnRetour:hover {
    background-color: rgb(49, 49, 49);
    
  }