{% extends 'base.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block stylesheets %}
<link href="/styleG.css" rel="stylesheet"> 
{% endblock %}

{% block body %}


<header>
    <div>
        <div>
            <a href='{{ url('app_resto') }}'><img src="/images/logo.png" alt="logo"></img></a>
        </div>
        <h1> Dead Cow Dinner </h1>
    </div>

    <nav>
        <ul>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_resto') }}'>Notre Restaurant</a>
            </li>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_carte_visiteur') }}'>Notre Carte</a>
            </li>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_resa_page') }}'>Réserver une table</a>
            </li>
            <li>
                <a class="Nav_Page_i" id="Uber" href="https://www.ubereats.com/fr">Commander chez Uber Eat</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <div class= "resaForm">
        {{ include('liste_resa/_form.html.twig') }}
        <div id="imgResa">
            <img src="/images/s1.webp" alt="photo" />
        </div>
    </div>
</main>
{% endblock %}
