{% extends 'base.html.twig' %}

{% block title %}Notre Restaurant{% endblock %}

{% block stylesheets %}
<link href="/styleG.css" rel="stylesheet"> 
{% endblock %}

{% block body %}
<header>
    <div>
        <div>
            <a href='{{ url('app_login') }}'><img src="/images/logo.png" alt="logo"></img></a>
        </div>
        <h1> Dead Cow Dinner </h1>
    </div>

    <nav>
        <ul>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_resto') }}'>Notre Restaurant</a>
            </li>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_carte_visiteur') }}'>Notre Carte</a>
            </li>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_resa_page') }}'>Réserver une table</a>
            </li>
            <li>
                <a class="Nav_Page_i" id="Uber" href="https://www.ubereats.com/fr">Commander chez Uber Eat</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <h2>- Notre Restaurant -</h2>
<!-- conteneur 1 -->
    <div class="slider">
        <!-- car1 -->
        <div class="slides">
            <!-- img1 -->
        </div>
        <div class="slides">
            <!-- img2 -->
        </div>
        <div class="slides">
            <!-- img3 -->
        </div>
        <div class="box-horaire">
            <p>Horaires<spans id="heure"> Ouverture dans...</span></p>
        </div>
    </div>
    <!-- conteneur2 -->
    <div class="description1">
        <p class="textdesc1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius debitis ipsum enim excepturi
            aliquid, consequatur
            sint beatae, officiis rem laboriosam blanditiis numquam explicabo libero quas ad vel officia, eum deleniti?
        </p>
    </div>
    <!-- conteneur 3 -->
    <div class="bigbox">
        <div class="partL">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d727.3254351033876!2d2.9787390179781608!3d43.18217917721107!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1637761494536!5m2!1sfr!2sfr"
                width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>

        <div class="partR">
            <div class="description2">
                <p class="textdesc2"> ipsum dolor sit amet consectetur adipisicing elit. Placeat molestias quisquam
                    ducimus
                    consectetur accusamuss cupiditate voluptas voluptates necessitatibus excepturi aspernatur eius, unde
                    minima laudantium assumenda esse numquam nemo impedit optio?</p>
            </div>

            <div class="box-LR">
                <div class="box-adresse">
                    <p class="adresse">Adresse : {{ info_restos.adresse }}</p>
                    <p class="adresse">Telephone : {{ info_restos.tel }}</p>
                    <p class="adresse">Horaires : {{ info_restos.horaires }}</p>
                </div>
               
                <div id="btnStory">
                    <a class="lien1" href='{{ url('app_histoire') }}'>Notre Histoire &#10150; </a>
                    <div id="triangle-code">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>
</main>
{# {% block javascripts %}
<script src="scripts.js"></script>          
{% endblock %} #}

{% endblock %}
