<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link href="/styleA.css" rel="stylesheet"> 
        {% endblock %}

        {% block javascripts %}
           
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="en_tete">
                <div class="logobox">
                    <a href='{{ url('app_carte_index') }}'><img src="/images/logo.png" alt="logo"></img></a>
                </div>
                <div class="titre">
                    <h1> Dead Cow Dinner </h1>
                    <h2> Gestion Reservation </h2>
                </div>
                <a id="BtnDeco" href="{{ path('app_logout') }}">Deconexion</a>
            </div>
        </header>

        <main>

            <div class="show">
                <a href="{{ path('app_liste_resa_new') }}">Create new</a>
                <div class="crudResaShow">

                {% block body %}{% endblock %}


                </div>
                <a class="BtnRetour" href="{{ path('app_carte_index') }}"> &#10534; Retour </a>
            </div>
        
            <div class="resa_center">
            {% for liste_resa in liste_resas %}

                <div class="resabox">
                    <h4>- nbPERSONNES - {{ liste_resa.date ? liste_resa.date|date('d-m-Y') : '' }} - {{ liste_resa.periode }}</h4>
                    <a href="{{ path('app_liste_resa_show', {'id': liste_resa.id}) }}">show</a>
                </div>

            {% endfor %}
            </div>
        </main>
    </body>
</html>
