<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Praise&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel&display=swap" rel="stylesheet">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
        <link href="/styleA.css" rel="stylesheet">   
        {% endblock %}

        {% block javascripts %}
           
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="en_tete">

                <div class="logobox">
                    <a href='{{ url('app_carte_index') }}'><img src="/images/logo.png" alt="logo"></img></a>
                </div>
                
                <div class="titre">
                    <h1> Dead Cow Dinner </h1>
                    <h2> Administration </h2>
                </div>
                <a id="BtnDeco" href="{{ path('app_logout') }}">Deconexion</a>
            </div>
        </header>

        <main>
            <div class="leftBox">
                <div class="listeCarte">
                {% for carte in cartes %}
                <div class="boxcarte">
                    <div class="burger">
                        <div class="imgcarte">
                            <img src='/uploads/{{ carte.image }}' alt="imgB">
                        </div>
                        <div class="txtcarte">
                            <h3>{{ carte.produit }} / {{ carte.prix }} &euro; / {% if carte.dispo %} Dispo {% else %} Indispo {% endif %} </h3>
                            <p>{{ carte.description }}</p>
                        </div>
                    </div>
                    <a class="editBTN" href="{{ path('app_carte_edit', {'id': carte.id}) }}">edit</a>
                </div>
                {% endfor %}
                </div>
            </div>

            <div class="rightBox">
            
                <div class="crudCarte">{# ---------------FORM------------------ #}
                    <a class="addBTN" href="{{ path('app_carte_new') }}">Create new</a>

                    {% block body %}{% endblock %}
                
                </div>

                <div class="EnAttente">
                    <h2 id="Produit_avant"> - Mettre en avant un Produit -
                    </h2>
                </div>

                <a class="BtnResa" href="/info/resto/5/edit">Infos Restaurant</a>
                <a class="BtnResa" href="{{ path('app_liste_resa_index') }}">Voir Reservation</a>
            </div>
            
        </main>
    </body>
</html>