{% extends 'base.html.twig' %}

{% block title %}Carte index{% endblock %}

{% block stylesheets %}
<link href="/styleG.css" rel="stylesheet"> 
{% endblock %}

{% block body %}

<header>
    <div>
        <div>
            <a href='{{ url('app_resto') }}'><img src="/images/logo.png" alt="logo"></img></a>
        </div>
        <h1> Dead Cow Dinner </h1>
    </div>

    <nav>
        <ul>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_resto') }}'>Notre Restaurant</a>
            </li>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_carte_visiteur') }}'>Notre Carte</a>
            </li>
            <li>
                <a class="Nav_Page_i" href='{{ url('app_resa_page') }}'>Réserver une table</a>
            </li>
            <li>
                <a class="Nav_Page_i" id="Uber" href="https://www.ubereats.com/fr">Commander chez Uber Eat</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <h2>- Notre Carte -</h2>
    {% for carte in cartes %}
    <div class="boxcarte">
        <div class="burger">
            <div class="imgcarte">
                <img src='/uploads/{{ carte.image }}' alt="imgBurger">
            </div>
            <div class="txtcarte">
                <h3>{{ carte.produit }}</h3>
                <h4>{{ carte.description }}</h4>
                <h3 class="prix">{{ carte.prix }} &euro;</h3>
            </div>
        </div>
    </div>
    {% endfor %}
</main>
    {% endblock %}

{# _______________________________________________________________________________ #}
