{% extends 'base_carte.html.twig' %}

{% block title %}Edit Carte{% endblock %}


{% block body %}


    <h3>Modifier</h3>

    {{ include('carte/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('carte/_delete_form.html.twig') }}


{% endblock %}
