<form method="post" action="{{ path('app_liste_resa_delete', {'id': liste_resa.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ liste_resa.id) }}">
    <button class="btn">Delete</button>
</form>
