{% extends 'base_liste_resa.html.twig' %}

{% block title %}Edit ListeResa{% endblock %}


{% block body %}

    <h2>Modifier</h2>

    {{ include('liste_resa/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
