{% extends 'base_liste_resa.html.twig' %}

{% block title %}Edit ListeResa{% endblock %}


{% block body %}

    <h2>Details</h2>

    <h4>{{ liste_resa.nom }}</h4>
    <h4>nbPERSONNES</h4>
    <h4>{{ liste_resa.tel }}</h4>
    <h4>{{ liste_resa.date ? liste_resa.date|date('Y-m-d') : '' }}</h4>
    <h4>{{ liste_resa.periode }}</h4>

    <a href="{{ path('app_liste_resa_edit', {'id': liste_resa.id}) }}">edit</a>

    {{ include('liste_resa/_delete_form.html.twig') }}

{% endblock %}

